
footer{
  margin: 0 auto;
  width: 1440px;
background: rgb(245, 244, 244);
margin-top: 20px;
padding: 20px;
}
.footer-content{
  display: flex;
  gap: 100px;
  justify-content: center;
  padding: 20px;
}
.footer-input{
  display: flex;
  align-items: center;
}
.footer-input input{
  /* 200 */
border: 1px solid rgb(221, 219, 220);
/* white */
background: rgb(255, 255, 255);
width: 388px;
height: 53px;
text-align: center;

}
.footer-input button{
  /* 500 */
border: 1px solid rgb(38, 38, 38);
/* 500 */
background: rgb(38, 38, 38);
width: 52px;
height: 53px;
color: white;
}
.footer-text h4{
/* Text/400 - demi */
color: rgb(38, 38, 38);
font-family: Maison Neue;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.2px;
text-align: left;
}
.footer-text p{
  /* Text/300 */
color: rgb(115, 115, 115);
font-family: Maison Neue;
font-size: 14px;
font-weight: 400;
line-height: 16.8px;
letter-spacing: 1.4px;
text-align: left;
}

.award{
  width: 1440px;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
}
.award-content{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.award-card img{
  width: 450.67px;
height: 413px;
}
.award-card{
  gap: 50px;
}
.award-card h1{
  /* Display/200 */
color: rgb(0, 0, 0);
font-family: Maison Neue;
font-size: 27px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0px;
text-align: left;
}
.award-card button{
  /* 200 */
border: 1px solid rgb(221, 219, 220);
border-radius: 30px;
width:100px;
height: 24px;
/* Text/200 - demi */
color: rgb(0, 0, 0);
font-family: Maison Neue;
font-size: 12px;
font-weight: 600;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.wrapper {
  width: 1400px;
  margin: 0 auto;
}
.frame {
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: black;
}
.frame ul {
  position: static;
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 10px;
}
.frame ul li {
  /* Text/200 - demi */
color: rgb(255, 255, 255);
font-family: Maison Neue;
font-size: 12px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0.2px;
text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 43px;
  margin-top: 20px;
}
.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
}

.top-image {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}
.top-many {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-many ul {
  position: static;
  margin-left: -800px;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.top-many ul li {
  /* Text/200 */
color: rgb(38, 38, 38);
font-family: Maison Neue;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.2px;
text-align: center;
}
.edit{
  width: 1440px;
  margin: 0 auto;
}
.edit-card img{
  width: 287px;
height: 380px;
}
.edit-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.edit button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

/* 500 */
background: rgb(38, 38, 38);
width: 240px;
height: 61px;
/* Text/300 - demi */
color: rgb(255, 255, 255);
font-family: Maison Neue;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0.42px;
text-align: center;
margin: 0 auto;
margin-top: 15px;
}

.edit h1{
  /* Display/400 - demi */
.header-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-main ul {
  display: flex;
  list-style: none;
  width: 985px;
  justify-content: space-between;
  height: 38px;   
}

.header-main ul li {
/* Text/200 */
color: rgb(38, 38, 38);
font-family: Maison Neue;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.2px;
text-align: center;
}
/* ----------- */
.banner4 {
  position: static;
  width: 1400px;
  height: 691px;
}
.section1 {
  /* Section 02 */
position: static;
width: 1400px;
height: 572px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 40;
padding: 115px 60px 115px 60px;


/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 1;
/* margin: 0px 0px;  */
}
.section1 hr {
  /* Rectangle 4 */
position: static;
width: 1280px;
height: 14px;
/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 40px 0px;
background: black;
}
.div1 {
  /* Frame 1 */
position: static;
width: 1280px;   
height: 288px;   
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
/* gap: 148px; */
/* padding: 0px; */


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 40px 0px;    
}
.div1 h4 {
position: static;
width: 1000px;
height: 288px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 148;
padding: 0px;
margin: 0px 148px;
color: rgb(0, 0, 0);
font-family: Maison Neue;
font-size: 40px;
font-weight: 600;
line-height: 48px;
letter-spacing: 0px;
text-align: center;
}
.edit-card h4{
  /* Text/200 */
color: rgb(38, 38, 38);
font-family: Maison Neue;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.2px;
text-align: left;
}
.edit-card p{
  /* Text/200 */
color: rgb(115, 115, 115);
font-family: Maison Neue;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.2px;
text-align: left;
}

text-align: left;
}
.logo {
  /* Frame 1 */
position: static;
width: 96px;
height: 28px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
/* gap: 6;   */
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
/* margin: 0px 148px; */
}
.section3 {
  /* Section 03 */
position: static;
width: 1400px;
height: 1254px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 100px 60px 100px 60px;


/* Inside Auto Layout */
flex: none;
order: 3;
flex-grow: 1;
margin: 0px 0px;
}
.section3 img {
 /* image */
position: static;
width: 790px;
height: 1054px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.section4, .section6 {
  /* Section 04 */
position: static;
width: 1400px;
height: 1131px;
/* Auto layout */
display: flex;
flex-direction: column;
/* justify-content: flex-start; */
align-items: flex-start;
gap: 44;
padding: 100px 228px 100px 228px;


/* Inside Auto Layout */
flex: none;
order: 4;
flex-grow: 1;
margin: 0px 0px;
}
.section4 h1, .section6 h1 {

/* Display/400 - demi */
color: rgb(0, 0, 0);
font-family: Maison Neue;
font-size: 40px;
font-weight: 600;
line-height: 48px;
letter-spacing: 0px;
text-align: left;
}
.section4 p, .section6 p {
margin-top: 30px;
margin-bottom: 30px;
/* Display/100 */
color: rgb(0, 0, 0);
font-family: Maison Neue;
font-size: 24px;
font-weight: 400;
line-height: 33.24px;
letter-spacing: 0px;
text-align: left;
}
.section5 {
  /* Section 05 */
position: static;
width: 1400px;
height: 1254px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 100px 60px 100px 60px;


/* Inside Auto Layout */
flex: none;
order: 5;
flex-grow: 1;
margin: 0px 0px;
}
.section5 img {
  /* image */
position: static;
width: 790px;
height: 1054px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
/* ----------------------------------footer */

