footer{
  margin: 0 auto;
  width: 1440px;
background: rgb(245, 244, 244);
}
.footer-content{
  display: flex;
  gap: 100px;
  justify-content: center;
}
.footer-input{
  display: flex;
  align-items: center;
}
.footer-input input{
  /* 200 */
border: 1px solid rgb(221, 219, 220);
/* white */
background: rgb(255, 255, 255);
width: 388px;
height: 53px;
text-align: center;
}
.footer-input button{
  /* 500 */
border: 1px solid rgb(38, 38, 38);
/* 500 */
background: rgb(38, 38, 38);
width: 52px;
height: 53px;
color: white;
}
.footer-text h4{
/* Text/400 - demi */
color: rgb(38, 38, 38);
font-family: Maison Neue;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.2px;
text-align: left;
}
.footer-text p{
  /* Text/300 */
color: rgb(115, 115, 115);
font-family: Maison Neue;
font-size: 14px;
font-weight: 400;
line-height: 16.8px;
letter-spacing: 1.4px;
text-align: left;
}